<div class="w-100 gap-5 main">
  <div class="left-content w-100">
    <div
      class="cripto-info d-flex flex-row w-100 h-auto mb-4 align-items-center"
    >
      <div class="d-flex flex-row">
        <img
          src="../../../assets/icons-crypto/Bitcoin.png"
          alt=""
          class="cripto-img me-3"
        />
        <div class="cripto-name-container d-flex flex-column me-5">
          <span class="cripto-name fs-5 text-white">Bitcoin</span>
          <span class="abbreviated fs-6 text-muted">BTC</span>
        </div>
      </div>

      <div class="cripto-prices-info d-flex flex-column ms-5 me-5" *ngIf="pctHourBtc.length > 0">
        <span class="current-price fs-5 text-white"
          >${{ pctHourBtc[0] | number : "1.0-0" }}</span
        >
        <span
          class="price-change fs-6 text-end"
          [ngClass]="{ 'text-green': statusBtc1h, 'text-red': !statusBtc1h }"
        >
          <i *ngIf="statusBtc1h" class="bi bi-arrow-up-short"></i>
          <i *ngIf="!statusBtc1h" class="bi bi-arrow-down-short"></i>
          {{ pctHourBtc[1] }}</span
        >
      </div>
      <!-- Percentage -->
      <div
        class="cripto-percentage d-flex flex-column ms-5 p-3 rounded-3"
        *ngIf="pctHourBtc.length > 0"
      >
        <span
          class="percentage fs-5"
          [ngClass]="{ 'text-green': statusBtc1h, 'text-red': !statusBtc1h }"
          >{{ pctHourBtc[2] }}%</span
        >
        <span class="time-percentage text-muted fs-6 text-center">1h</span>
      </div>
      <!-- 24h -->
      <div
        class="cripto-percentage d-flex flex-column ms-3 p-3 rounded-3"
        *ngIf="pctHourBtc.length > 0"
        style="background-color: transparent"
      >
        <span
          class="percentage fs-5"
          [ngClass]="{ 'text-green': statusBtc24h, 'text-red': !statusBtc24h }"
          >{{ pct24hBtc[2] }}%</span
        >
        <span class="time-percentage text-muted fs-6 text-center">24h</span>
      </div>
      <!-- 7d -->
      <div
        class="cripto-percentage d-flex flex-column ms-3 p-3 rounded-3"
        *ngIf="pctHourBtc.length > 0"
        style="background-color: transparent"
      >
        <span
          class="percentage fs-5"
          [ngClass]="{ 'text-green': statusBtc7d, 'text-red': !statusBtc7d }"
          >{{ pct7DayBtc[2] }}%</span
        >
        <span class="time-percentage text-muted fs-6 text-center">7d</span>
      </div>
    </div>
    <div class="chart rounded-3" #chartContainer>
      <ngx-charts-line-chart
        #chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="true"
        [yAxis]="true"
        [autoScale]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="false"
        [results]="multi"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        style="fill: #d1d1d1"
        [timeline]="true"
      >
      </ngx-charts-line-chart>
      <br />
    </div>
  </div>
  <div class="right-content d-flex flex-column overflow-auto w-100">
    <ul class="w-100">
      <li>
        <div class="inside-list">
          <div class="text-muted">Price</div>
          <div class="text-muted">Amount(BTC)</div>
          <div class="text-muted">Time</div>
        </div>
      </li>
      <li *ngFor="let a of amounts">
        <div class="inside-list">
          <div class="text-warning">{{ a[1] | number : "1.0-0" }}</div>
          <div class="text-white">{{ a[2] }}</div>
          <div class="text-white">{{ a[0] | date : "h:mm:ss a" }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
