* {
  /* vars */
  --bg: #111117;
  --bg-secondary: #1b1e29;
  --color-primary: #8b6ffb;
}

div.warning {
  display: none;
}

div.main {
  background-color: transparent;
  height: 90vh;
  max-width: 1920px;
}

/* Navbar */

div.main nav.lateral-navbar {
  padding: 40px 0 40px;
  min-width: 6rem;

  background-color: var(--bg-secondary);
}

div.main nav.lateral-navbar ul {
  padding: 0;
}

div.main nav.lateral-navbar ul li {
  margin-bottom: 30px;
  list-style: none;
}

div.main nav.lateral-navbar ul li i {
  color: var(--color-primary);
  font-size: 24px;
  text-shadow: var(--color-primary) 0 0 5px;

  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
}

div.main nav.lateral-navbar ul.navbar-items-2 {
  margin-top: auto;
}

div.main nav.lateral-navbar ul.navbar-items-2:nth-child(2) {
  margin-bottom: 0 !important;
}

i.bi-brightness-high-fill {
  color: #ffe87c !important;
  text-shadow: #ffe87c 0 0 5px;
}

div.main nav.lateral-navbar ul li i:hover {
  cursor: pointer;
  color: white;
  text-shadow: white 0 0 5px;
}

/* End Navbar */

/* Content */

div.main div.content {
    padding: 0;

}

/* End Content */


@media (max-width: 950px) {
  .main {
    padding: 0 !important;
    height: 100vh !important;
  }
  div.main div.content {
    padding: 20px;
  }
  .lateral-navbar {
    margin: 0 !important;
    padding: 20px !important;
    width: 100vw !important;
    height: auto !important;
    border-radius: 0 !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    position: fixed !important;
    bottom: 0 !important;
  }
  .lateral-navbar ul {
    margin: 0 !important;
    flex-direction: row !important;
    align-items: center !important;
  }

  .lateral-navbar .navbar-items-2 {
    display: flex;
    margin-top: 0 !important;
  }

  .lateral-navbar ul li{
    margin-right: 40px;
    margin-bottom: 0 !important;
  }
  .lateral-navbar ul li i{
    font-size: 32px !important;
  }
  .lateral-navbar ul li.diff {
    margin-right: 0 !important;
  }
  
}

@media (max-width: 650px) {
  .lateral-navbar ul li i{
    font-size: 26px !important;
  }
}